#section-about
  .container
    %h1 ABOUT US
    .row
      .col-md-6.col-md-offset-3.col-xs-12
        %p.about-col-mid.text-center One answer is that Truth pertains to the possibility that an event will occur. Must all possible events occur?

  .container
    .row
      .col-md-6.col-xs-12
        .col-md-2.col-xs-3
          =image_tag("", class: 'about-image')
        .col-md-8.col-xs-9
          %p.about-col1
            A statement which remains a mere potential seems to exist only in the nether land between truth and falsity.
      .col-md-6.col-xs-12
        %p.about-col2
          Lorem ipsum dolor sit amet, quo at justo noster tamquam, has hinc gubergren intellegebat et. Aliquip maiorum ea mei, errem tamquam torquatos an quo, quot dissentias sed et. Quot omnium ne mel, possim commodo quaestio eos ex, paulo utamur sadipscing vis ad. Nostrum propriae no vis, his sanctus incorrupte in. No aperiri labitur scaevola mei. Saperet contentiones vis id. Ad eam incorrupte interesset, pri noster possit aliquip at.
          Dolorum efficiendi ei eos, in cum autem epicuri. Ne nam deserunt expetendis, labores tractatos voluptaria et eam. Te nec sonet fierent eleifend. Ferri invenire ocurreret ex mel.
