.article-body
  .container
    %h1=t('team.edit')
    = render 'form'
    .form-inline.row
      %button.button-admin-nav{:type => "submit"}= link_to t('admin_form.show'), [:admin, @team]
      %button.button-admin-nav{:type => "submit"}= link_to t('admin_form.back'), admin_teams_path
